

*{
    box-sizing: border-box;
    font-size: 18px;
}

header{
    text-align: center;
    height: auto;
}

h1{
    background-color: aquamarine;
    font-size: 250%;
    height: 66px;
}

h2{
    background-color: pink;
    font-size: 200%;
    text-align: center;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    padding-bottom:5px;
    padding-top: 5px;
}

section{
    border: 4px dashed navy;
    justify-content: center;
    height:300px;
    width:600px;
    border-radius: 20px;
}

button{
    cursor: pointer;
    margin-bottom:10px;
    width: 200px;

}

#section-menu div{
    margin-top:40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#section-menu{
    
}