*{
    box-sizing: border-box;
    
}

header{
    text-align: center;
    height: auto;
}

h1{
    background-color: aquamarine;
    font-size: 250%;
    height: 66px;
}

h2{
    background-color: pink;
    font-size: 200%;
    text-align: center;
}

